@font-face {
  font-family: "Arial";
  src: url("assets/ArialMT.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("assets/Georgia.ttf");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1000px) {
  .hero img {
    width: 565px;
    height: 587px;
  }
  .gallery__cards-container .card:nth-child(3) {
    display: none;
  }
  .donation__pet {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    max-height: 1015px;
  }
  .hero {
    min-height: 1195px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .hero .content {
    margin-top: 0px;
  }
  .hero .content a {
    align-self: center;
  }
  .menu {
    padding: 0 4vw;
  }
  header {
    margin-top: 33px;
  }
  .hero img {
    width: 569px;
    height: 593px;
    align-self: flex-end;
    margin-right: 4vw;
  }
  .about {
    min-height: 1048px;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .about .container img {
    order: 2;
  }
  .icons {
    min-height: 779px;
  }
  .icons__container .icon {
    flex-basis: 33.3%;
  }
  .icons .container {
    justify-content: flex-start;
    min-height: 599px;
    margin: 0;
    padding: 0;
  }
  .icons .title {
    margin-bottom: 50px;
  }
  .icons__container {
    max-width: 700px;
    width: 100%;
  }
  .donation {
    min-height: 783px;
  }
  .donation .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 603px;
  }
  .donation__pet {
    order: 2;
    width: 505px;
    height: 261px;
  }
  .footer {
    min-height: 639px;
    height: auto;
  }
  .footer .container {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer .container > div {
    min-height: 340px;
    height: auto;
  }
  .footer__dog {
    align-self: flex-end;
  }
}

@media (max-width: 1080px) {
  .slider__card:nth-child(n + 7) {
    display: none;
  }
  .pets-slider {
    min-height: 1755px;
  }
  .container .slider {
    min-height: 1365px;
    justify-content: space-evenly;
  }
  .pets-slider .container {
    min-height: 1603px;
  }
}

@media (max-width: 768px) {
  .fa.fa-bars {
    display: block;
  }
  .menu .list {
    display: none;
  }
}

@media (max-width: 527px) {
  .fa.fa-bars {
    display: block;
  }
  .menu .list {
    display: none;
  }
  .slider__card:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero img {
    width: 260px;
    height: 271.77px;
  }
  .gallery__cards-container .card:nth-child(2) {
    display: none;
  }
  .donation__pet {
    width: 260px;
    height: 135.2px;
  }
  .icons__container .icon {
    flex-basis: 50%;
  }
  .about .container img {
    width: 260px;
    height: 353.6px;
  }
  .icons {
    height: 745px;
  }
  .icon .icon__img {
    transform: scale(0.83);
  }
  .icons {
    min-height: 745px;
  }
  .icons .container {
    justify-content: flex-start;
    min-height: 599px;
    margin: 0;
    padding: 0;
  }
  .icons .title {
    margin-bottom: 30px;
  }
  .icons__container {
    max-height: 555px;
    height: auto;
    width: 100%;
  }
  .icon {
    max-height: 83px;
    height: auto;
    margin-bottom: 30px;
  }
  .about .content {
    max-width: 430px;
    width: 100%;
  }
  .billing {
    width: 281px;
  }
  .billing-number {
    font-size: 15px;
  }
  .donation__info,
  .about .content,
  .hero .content {
    align-items: center;
  }
  .about__title,
  .content__title,
  .cards .title,
  .icons .title,
  .donation__title,
  .footer .container > div > .title,
  .container .pets-slider__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
    letter-spacing: 1.5px;
  }
  .content__text {
    text-align: center;
    line-height: 24px;
    padding: 0 10px;
  }
  .hero .content {
    height: 296px;
  }
  .hero {
    min-height: 853px;
    height: 853px;
  }
  .hero .container {
    max-height: 673px;
  }
  .about .content > .text {
    padding: 0 25px;
    text-align: justify;
  }
  .about .content {
    height: 490px;
  }
  .about {
    min-height: 974px;
  }
  .gallery__cards-container {
    order: -1;
  }
  .gallery {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cards {
    height: 791px;
  }
  .gallery__controls {
    margin-top: 20px;
  }
  .icons {
    justify-content: flex-start;
  }
  .icons .container {
    margin-top: 40px;
  }
  .icons__container {
    margin-top: 9px;
    justify-content: flex-start;
  }
  .icon {
    height: 95px;
    max-height: 95px;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .icon .icon__title {
    font-size: 15px;
  }
  .icon:last-child {
    align-self: flex-start;
    margin-bottom: 0;
  }
  .donation__info > *:not(a) {
    padding: 0 20px;
  }
  .donation__info > p {
    text-align: justify;
  }
  .donation {
    height: 545px;
    min-height: 545px;
  }
  .donation .container {
    height: 459px;
    min-height: 459px;
  }
  .donation__subtitle {
    max-width: 274px;
    letter-spacing: 0;
    padding: 0;
  }
  .footer .container > div {
    align-items: center;
  }
}
