@mixin flex-set($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@font-face {
  font-family: "Arial";
  src: url("assets/ArialMT.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("assets/Georgia.ttf");
  font-weight: normal;
  font-style: normal;
}

$ot: #f1cdb3;
$lt: #cdcdcd;
$vlt: #fafafa;
$gr: #545454;
$vdt: #292929;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  font-size: 16px;
  color: $gr;
  font-family: Arial;
}
a {
  text-decoration: none;
  color: white;
}
header {
  height: 60px;
  margin-top: 63px;
}
.text {
  line-height: 160%;
  font-size: 0.9375rem;
  color: #4c4c4c;
}

.container {
  height: 100%;
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
}
.title {
  font-family: Georgia;
  letter-spacing: 6%;
  font-size: 2.75rem;
}
.menu {
  height: 100%;
  @include flex-set(row, space-between, center);
  &__title {
    line-height: 110%;
    color: $ot;
    font-size: 2rem;
    letter-spacing: 0.12rem;
    margin-top: -2px;
  }
  &__subtitle {
    margin-left: 4px;
    margin-bottom: 3px;
    font-size: 0.8125rem;
    color: white;
    letter-spacing: 0.08rem;
  }
}
.menu-welcoming {
  &__title {
    height: 100%;
    @include flex-set(column, space-between, flex-start);
  }
}

.list {
  list-style: none;
  width: 442px;
  margin-right: 1px;
  margin-top: -10px;
  @include flex-set(row, space-between, center);
  &__item {
    display: inline-block;
  }
  &__link {
    @extend .text;
    font-size: 0.9375rem;
    color: $lt;
    transition: all 0.25s ease-in-out;

    &[href]:hover {
      color: white;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
    }
    &__active {
      border-bottom: 3px solid $ot;
      padding-bottom: 4px;
      color: $vlt;
    }
  }
}

.content {
  @include flex-set(column, space-between, flex-start);
  max-width: 460px;
  height: 321px;
  margin-top: 100px;
}
.hero .container {
  height: 100%;
  @include flex-set(row, space-between, center);
}
.content__title {
  line-height: 57px;
  color: white;
  margin-bottom: 1px;
  font-weight: 100;
}
.content__text {
  color: $lt;
}
.content__button {
  text-align: center;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 52px;
  width: 207px;
  background: #f1cdb3;
  border-radius: 100px;
}
.hero {
  height: 908px;
  margin-top: -123px;
  background: url(assets/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  &__img {
    padding-top: 2px;
    align-self: flex-end;
  }
}
.about {
  height: 588px;
  background: #ffffff;
}
.about .content {
  width: 430px;
  padding: 0;
  height: 380px;
  margin-top: -20px;
}
.about > .container {
  @include flex-set(row, space-evenly, center);
  max-width: 1090px;
}
.about__img {
  margin-top: -20px;
}
.about {
  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-weight: normal;
  }

  &__text {
  }
}

.cards {
  background: #f6f6f6;
  height: 877px;
  @include flex-set(column, center, center);
  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-weight: normal;
    text-align: center;
  }

  &__button {
    width: 259px;
    height: 49px;
    background: #f1cdb3;
    border-radius: 100px;
    text-align: center;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
.cards > .container {
  margin-top: -21px;
  height: 697px;
  @include flex-set(column, space-between, center);
}
.title {
}
.gallery {
  @include flex-set(row, space-between, center);
  width: 100%;
  &__controls {
    width: 52px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    object-fit: none;
    transition: all 0.25s ease-in-out;
    &:nth-child(3) {
      transform: scaleX(-1);
    }
    &:hover {
      transition: all 0.25s ease-in-out;
      cursor: pointer;
      background: #fddcc4;
    }
  }

  &__cards-container {
    @include flex-set(row, space-around, center);
    width: 100%;
  }
}
.card {
  width: 270px;
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  @include flex-set(column, space-between, center);
  transition: all 0.25s ease-in-out;
  &:hover {
    background: #ffffff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    transition: all 0.25s ease-in-out;
  }
  &__img {
  }

  &__name {
  }

  &__title {
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    letter-spacing: 0.07em;
  }

  &__button {
    margin-bottom: 30px;
    border: 2px solid #f1cdb3;
    background: none;
    border-radius: 100px;
    width: 183px;
    height: 48px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  &__active {
  }
}
.icons {
  @include flex-set(column, center, center);
  height: 611px;
  background: white;
  &__container {
    @include flex-set(row, center, space-between);
    flex-wrap: wrap;
    width: 100%;
    height: 281px;
  }
}
.icons .container {
  @include flex-set(column, space-between, center);
  margin-top: -20px;
  width: 100%;
  height: 431px;
}
.title {
}
.icons-title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  font-weight: normal;
  text-align: center;
}
.icon {
  flex-basis: 20%;
  height: 113px;
  margin-bottom: 55px;
  @include flex-set(column, space-between, center);
  &__img {
  }

  &__title {
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    letter-spacing: 0.07em;
  }
}
.donation {
  height: 464px;
  @include flex-set(column, center, center);
  background: #f6f6f6;
  &__pet {
  }

  &__info {
    width: 100%;
    max-width: 380px;
    height: 282px;
    @include flex-set(column, space-between, flex-start);
  }

  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-weight: normal;
    line-height: 45px;
    /* or 45px */
  }

  &__subtitle {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
  }
}
.donation .container {
  max-width: 915px;
  height: 284px;
  margin-top: -20px;
  @include flex-set(row, space-between, center);
}
.title {
}
.billing {
  @include flex-set(row, space-evenly, center);
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  transition: all 0.25s ease-in-out;
  &:hover {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background: #fddcc4;
  }
  &__icon {
  }
}
.billing-number {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.text {
}
.additional-info {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
.footer {
  height: 355px;
  @include flex-set(column, flex-end, center);
  background: url(assets/noise_transparent.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  &__dog {
  }
}
.footer .container {
  height: 315px;
  @include flex-set(row, space-between, center);
  & > div {
    margin-top: -34px;
    height: 100%;
    @include flex-set(column, space-evenly, flex-start);
    & > .title {
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0.06em;
      color: white;
    }
  }
  & > div > a > div {
    height: 32px;
    @include flex-set(row, space-between, center);
    & > p {
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      margin-left: 20px;
      /* identical to box height, or 23px */

      letter-spacing: 0.06em;

      /* color-primary */

      color: #f1cdb3;
    }
  }
}
.questions {
  &__title {
  }
}
.email {
  &__icon {
  }

  &__address {
  }
}
.telephone {
  &__icon {
  }

  &__number {
  }
}
.geography {
  &_icon {
  }

  &__title {
  }

  &__adress {
  }
}
button {
  transition: all 0.25s ease-in-out;
  &:hover {
    background: #fddcc4;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
}
a {
  transition: all 0.25s ease-in-out;
  &:hover {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
}
h1 {
  margin: 0;
}
.fa.fa-bars {
  display: none;
}
.burger__menu {
  color: white;
  position: relative;
  top: 0;
  left: 0;
  height: 110vh;
  width: 320px;
  background: #292929;
  transition: all 0.5s ease-in-out;
  & .menu-welcoming__title {
    height: auto;
    display: inline-block;
  }
  & .fa.fa-bars {
    display: inline-block;
    margin: 10px 24px;
  }
  & .list {
    list-style: none;
    margin-top: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: unset;
    &__item {
      margin-top: 15px;
      font-size: 32px;
    }
    &__link {
      color: #cdcdcd;
      font-size: 32px;
      &__active {
        color: #fafafa;
      }
    }
  }
}

.burger-wrapper {
  z-index: 100;
  width: 320px;
  height: 110vh;
  position: fixed;
  top: 0;
  left: 100vw;
  & .subtitle {
    color: white;
  }
  & .title {
    color: #f1cdb3;
  }
}

.burger__menu__active {
  left: -320px;
}
.burger__active {
  transform: rotate(90deg);
}
.burger__menu .burger {
  z-index: 5;
}
button {
  background: none;
  border: none;
}
.burger {
  z-index: 0;
  transition: all 0.5s ease-in-out;
}
.blocker {
  position: fixed;
  top: 0;
  width: 110vw;
  height: 110vw;
  background: black;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0.01;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  &__button {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.blocker__active {
  visibility: visible;
  opacity: 1;
}
